.cta {
    display: flex;
    align-items: stretch;
    height: 100vh;

    &__hero {
        background-image: url("../../../assets/Home-Hero-Image.jpg");
        background-position: right;
        background-size: cover;

        width: 45vw;
        flex-shrink: 0;
        height: inherit;
    }

    &__content-container {
        width: 53vw; //TODO: 60 40
        flex-shrink: 0;
        margin-top: 6rem;
        padding-left: 2rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
