.about {
    background-color: $color-lightgray;

    display: flex;

    > * {
        width: 50%;
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 50px 130px;
    }

    &__signature {
        align-self: flex-end;
        width: 9rem;
    }

    &__photo {
        object-fit: cover;
        object-position: left center;
    }
}
