.footer {
    $icons-width: 2.4rem;
    $self-height: 2.5rem;

    padding: 10px 90px;
    width: 100%;
    height: $self-height;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: -$self-height;

    &__empty {
        width: $icons-width;
    }

    &__icon-wrapper {
        width: $icons-width;
    }

    &__icon {
        color: $color-black;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
