.topnav {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	padding-left: 0;

	position: absolute;
	top: 0;
	right: 0;

	> *:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&__auth {
		display: flex;
		justify-content: flex-end;
		padding: 0 1rem;
	}

	&__main {
		display: flex;
		justify-content: flex-end;

		> *:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__link {
		color: $color-black;
		text-decoration: none;
		border: 1px solid transparent;

		//¯\_(ツ)_/¯
		user-select: none;
		cursor: pointer;
		//

		display: inline-block;
		padding: 0.5rem 0.7rem;

		transition: border-color 0.1s;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus {
			border-color: $color-black;
		}

		&--alt {
			color: $color-gray;
			border-width: 2px;

			&:hover,
			&:focus {
				border-color: $color-yellow;
			}
		}
	}
}
