.topnav {
	display: flex;
	flex-direction: column;

	> *:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	&__auth {
		display: flex;
		justify-content: flex-end;
		padding: 0 1rem;
	}

	&__main {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		color: $color-black;
		text-decoration: none;
		border: 1px solid transparent;

		display: inline-block;
		padding: 0.5rem 0.7rem;

		transition: border-color 0.1s;

		&:focus {
			outline: none;
		}

		&:hover,
		&:focus {
			border-color: $color-black;
		}

		&--alt {
			color: $color-gray;
			border-width: 2px;

			&:hover,
			&:focus {
				border-color: $color-yellow;
			}
		}
	}
}
