.hand-over {
	&__title {
		font-size: 1.3rem;
		text-align: center;

		margin-bottom: 25px;
	}

	&__steps-wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__step {
		display: flex;
		flex-direction: column;

		padding: 3rem;

		position: relative;

		> *:not(:last-child) {
			margin-bottom: 7px;
		}
	}

	&__step-border {
		position: absolute;
		top: 50%;
		left: 50%;

		transform: translate(-50%, -50%) rotate(45deg);

		width: 8rem;
		height: 8rem;

		border: 1px solid $color-black;
	}

	&__number {
		text-align: center;
	}

	&__desc {
		font-size: 0.8rem;
		text-align: center;
	}
}
