.image-group {
	$self: &;

	height: 660px;

	&__image {
		flex-shrink: 0;
		object-fit: cover;
		object-position: left center;
	}

	&__content-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&--fullscreen {
		height: 100vh;

		> * {
			height: 100vh;
		}
	}

	&--overlay {
		position: relative;
		display: block;

		#{$self}__image {
			opacity: 0.25;
			width: 100%;
			height: inherit;
			object-fit: cover;
			object-position: top;
		}

		#{$self}__content-wrapper {
			width: 30rem;
			height: inherit;

			position: absolute;
			top: 0;
			right: 0;

			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
