.user-auth {
	height: 100vh;
	max-width: 30rem;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	&__inputs-wrapper {
		padding: 30px 50px;
		margin: 0 auto;
		width: 22rem;
		background-color: $color-lightgray;
	}

	&__btn-wrapper {
		width: 25rem;

		display: flex;
		justify-content: space-between;
	}

	&__btn {
		font-size: 0.8rem;
		padding: 0.6rem;
	}
}
