* {
    box-sizing: border-box;
}

body {
    color: $color-black;
    font-family: $font-base;
}

.decoration {
    width: 200px;

    &.decoration--small {
        width: 6rem;
        height: 1px;
        background-color: $color-black;
    }
}
